/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.psa-stash
/.cache
/.xdg_config_home

package-lock.json
yarn.lock
/node_modules/
/output/
/tmp/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.Trash*
.history/
